<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>

  <link rel="apple-touch-icon" sizes="180x180" href="../public/css/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../public/css/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../public/css/favicon/favicon-16x16.png">
  <link rel="manifest" href="../public/css/favicon/site.webmanifest">

  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
</head>

<body>
