* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #141719;
  min-height: 700px;
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  height: 100vh;
  position: relative;
  background-image: url("./Images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainTitle {
  position: relative;
  text-align: center;
  font-size: 2.5em;
  color: whitesmoke;
  top: 20px;
}

.box {
  max-width: 400px;
  margin: 5px auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.choices {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  color: white;
  margin-top: 44px;
  font-size: 1em;
}

#heading {
  text-align: center;
  margin-bottom: 17px;
  color: whitesmoke;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f3f4;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #663591;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  font-weight: bold;
  color: whitesmoke;
}

.myCategories {
  color: #2d6a4f;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 30%;
  border-color: transparent;
  color: whitesmoke;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

button:hover {
  color: #ab7cd5;
}

.mainBloc {
  position: relative;
  top: 25px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  color: whitesmoke;
}

input[type="text"]:focus {
  outline: none;
  transition: 0.5s;
}

::placeholder {
  color: whitesmoke;
  opacity: 0.3;
}

@media screen and (max-width: 400px) {
  .mainTitle {
    font-size: 2em;
  }

  .box,
  .myCategories,
  .myTaks {
    max-width: 240px;
  }

  p,
  .myTaks,
  .myCategories {
    font-size: 0.6em;
  }

  #heading {
    font-size: 0.7em;
  }

  input[type="text"] {
    width: 225px;
    font-size: 0.8em;
  }

  form.item {
    margin-left: 0;
  }

  button[type="submit"] {
    min-height: 0;
    width: 35px;
    margin-right: 10px;
  }

  button {
    font-size: 25px;
  }

  .item {
    min-height: 0;
    height: 45px;
  }
}
