* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #141719;
  min-height: 700px;
  font-family: "Roboto Mono", monospace;
}

h1 {
  color: #85a9ff;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
  transition: 0.8s;
}

.mainTitle {
  text-align: center;
  font-size: 2.5em;
  color: #f5f3f4;
}

.box {
  max-width: 400px;
  margin: 5px auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.choices {
  display: flex;
  width: 85%;
  margin: 0 auto;
  color: white;
  margin-top: 44px;
  font-size: 1em;
}

.choice1,
.choice2,
.choice3 {
  margin: 0 auto;
}

#heading {
  text-align: center;
  margin-bottom: 17px;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f3f4;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #2d6a4f;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  font-weight: bold;
  color: rgb(120, 120, 120);
}

.myTaks,
.myCategories {
  color: #2d6a4f;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #abc4ff;
  color: whitesmoke;
  font-size: 30px;
  border-width: 0;
  cursor: pointer;
  transition: 0.5s;
}

.container {
  height: 100vh;
  background-image: url("./Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBloc {
  position: relative;
  top: 25px;
}

button:hover {
  color: rgb(120, 120, 120);
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  color: rgb(120, 120, 120);
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0px -1px 0 0 #2d6a4f;
  transition: 0.5s;
}

::placeholder {
  color: grey;
  opacity: 1;
}

img {
  position: absolute;
}

footer {
  font-size: 0.7em;
  color: #f5f3f4;
  text-align: center;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .mainTitle {
    font-size: 2em;
  }

  .box,
  .myCategories,
  .myTaks {
    max-width: 240px;
  }

  p,
  .myTaks,
  .myCategories {
    font-size: 0.6em;
  }

  #heading {
    font-size: 0.7em;
  }

  input[type="text"] {
    width: 225px;
    font-size: 0.8em;
  }

  form.item {
    margin-left: 0;
  }

  button[type="submit"] {
    min-height: 0;
    width: 40px;
    margin-right: 10px;
  }

  .item {
    min-height: 0;
    height: 45px;
  }
}
